$font-family_main: "Montserrat", sans-serif;

// COLORS
$color_main: #f06048;
$color_secondary: #bdbcaf;

$spacing-1: 0.8rem;
$spacing-2: 1.6rem;
$spacing-3: 2.4rem;
$spacing-4: 4rem;
$spacing-5: 6.4rem;
